<a href="https://colab.research.google.com/github/sravanikumku/ML/blob/main/candidate1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel("/content/drive/MyDrive/ml2.xlsx")
df

    size color     shape class
0    big   red    circle    no
1  small   red  traingle    no
2  small   red    circle   yes
3    big  blue    circle    no
4  small  blue    circle   yes

In [ ]:
df=pd.read_csv("/content/play_tennis.csv")
df=df.iloc[:,1:]
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
df=pd.read_excel("/content/drive/MyDrive/finds.xlsx")
df=df.iloc[:,1:]
df

In [ ]:
def candidate(df):
  s=[False for i in range(len(df.columns)-1)]
  g=[]
  for i in range(len(df)):

    if df.iloc[i,-1].lower()=='no':

      if len(g)==0:
         l=[True for j in range(len(df.columns)-1)]
         g=generalize(df,i,l)



      else:
        l=[]
        for k in g:
          if not consistent(df,k,i):
            l.extend(generalize(df,i,k))
          else:
            l.append(k)



        g=copy.deepcopy(l)
        g=make_consistent(df,g,i)


    else:
      if set(s) == {False}:
        s=list(df.iloc[i,:-1])
      else:
        for m in range(len(df.columns)-1):
          if(df.iloc[i,m]!=s[m]):
            s[m]=True
      if(len(g)!=0):
         g=make_consistent(df,g,i)

  g=make_consistent(df,g,i)
  print("general hypothesis",g)
  print("specific hypothesis",s)
  print(versionspace(g,s))
candidate(df)

general hypothesis []
specific hypothesis [True, True, True, True]
[]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import copy
def generalize(df,r,l):

  #b=[False for i in range(len(l))]
  h=[]

  for i in range(len(df.columns)-1):
    if l[i] is True:

       b=set(df.iloc[:,i])-{df.iloc[r,i]}

       for k in b:
            l1=copy.deepcopy(l)
            l1[i]=k
            h.append(l1)

  return h

In [ ]:
True and 'class0'

'class0'

In [ ]:
set(df['size']).difference({'big'})

{'small'}

In [ ]:
g=[]
g.append([[1,2,3],[4,5,6]])
g

[[[1, 2, 3], [4, 5, 6]]]

In [ ]:
import copy
def make_consistent(df,g,i):
  h=[]

  for j in g:
    flag=True
    for k in range(i+1):

     if not consistent(df,j,k):
      flag=False
      break
    if(flag):
       h.append(j)

  return h

In [ ]:
set(['sr','hi','jo'])  ['sr',True,True]

False

In [ ]:
'hi' and True

True

In [ ]:
True and bool('hi')

True

In [ ]:
'sravani' == 'sravani'

True

In [ ]:
l={'big'}
l[0]

TypeError: ignored

In [ ]:
*x

SyntaxError: ignored

In [ ]:
l=[True for j in range(len(df.columns)-1)]
g=[l]
generalize(df,0,l,g)
print(g)

[[True, True, True], ['small', True, True], [True, 'blue', True], [True, True, 'traingle']]

In [ ]:
def p(l):
  l[0]=6
l=[3,4]
p(l)
print(l)

[6, 4]

In [ ]:
def consistent(df,l,r):
  if df.iloc[r,-1].lower()=='no':
    for i in range(len(df.columns)-1):
      if l[i] is not True:
        if l[i]!=df.iloc[r,i]:

          return True
    return False
  else:
    for i in range(len(df.columns)-1):
      if l[i] is not True:
        if l[i]!=df.iloc[r,i]:
          return False

    return True

In [ ]:
{"blue","red"}-{"red"}

{'blue'}

In [ ]:
['small',True,True] and ['Red',True,True]

['Red', True, True]

In [ ]:
df.iloc[0,-1]=="no"

True

In [ ]:
consistent(df,['Small','Blue',True],2)

y

False

In [ ]:
make_consistent(df,[['small', 'blue', True], ['small', True, 'circle'], [True, 'blue', True], ['big', True, 'traingle'], [True, 'blue', 'traingle']],3)

True 0 ['small', 'blue', True]
True 1 ['small', 'blue', True]
y
False 2 ['small', 'blue', True]
y
True 0 ['small', True, 'circle']
True 1 ['small', True, 'circle']
True 2 ['small', True, 'circle']
[['small', True, 'circle']]
True 0 [True, 'blue', True]
True 1 [True, 'blue', True]
y
False 2 [True, 'blue', True]
y
True 0 ['big', True, 'traingle']
True 1 ['big', True, 'traingle']
y
False 2 ['big', True, 'traingle']
y
True 0 [True, 'blue', 'traingle']
True 1 [True, 'blue', 'traingle']
y
False 2 [True, 'blue', 'traingle']
y

[['small', True, 'circle']]

In [ ]:
consistent(df,['small', True, 'circle'],2)

True

In [ ]:
def versionspace(g,s):
  vs=[]
  for i in g:
    for j in range(len(i)):
      if i[j]==True and s[j]!=True:
        m=i[:]
        m[j]=s[j]
        if m not in vs:
          vs.append(m)
  return vs

In [ ]:
consistent(df,['Sunny', True, True, True],0)

False

In [ ]:
class klm:
  def __init__ (self):
     self.g=[]
  def candidate(self,df):
    s=[False for i in range(len(df.columns)-1)]
    self.g=[]
    for i in range(len(df)):
     if df.iloc[i,-1].lower()=='no':
      print(self.g)
      if len(self.g)==0:
         l=[True for j in range(len(df.columns)-1)]
         self.g=generalize(df,i,l)
         print("g1",self.g)


      else:
        l=[]
        for k in self.g:
          if not consistent(df,k,i):
            l.extend(generalize(df,i,k))
          else:
            l.append(k)



        self.g=copy.deepcopy(l)
        self.g=make_consistent(df,self.g,i)
        print("g2",self.g)

     else:
      if set(s) == {False}:
        s=list(df.iloc[i,:-1])
      else:
        for m in range(len(df.columns)-1):
          if(df.iloc[i,m]!=s[m]):
            s[m]=True
      if(len(self.g)!=0):
         self.g=make_consistent(df,self.g,i)
  #g=make_consistent(df,g,i)
    print("general hypothesis",self.g)
    print("specific hypothesis",s)
    #print(versionspace(g,s))
  def consistent(self,df,l,r):
   if df.iloc[r,-1].lower()=='no':
    for i in range(len(df.columns)-1):
      if l[i] is not True:
        if l[i]!=df.iloc[r,i]:

          return True
    return False
   else:
    for i in range(len(df.columns)-1):
      if l[i] is not True:
        if l[i]!=df.iloc[r,i]:
          return False

    return True
  import copy
  def make_consistent(self,df,g,i):
   h=[]

   for j in g:
    flag=True
    for k in range(i+1):

     if not consistent(df,j,k):
      flag=False
      break
    if(flag):
       h.append(j)

   return h

In [ ]:
klm().candidate(df)

[]
g1 [['Overcast', True, True, True], ['Rain', True, True, True], [True, 'Cool', True, True], [True, 'Mild', True, True], [True, True, 'Normal', True], [True, True, True, 'Strong']]
[['Overcast', True, True, True], ['Rain', True, True, True], [True, 'Cool', True, True], [True, 'Mild', True, True], [True, True, 'Normal', True], [True, True, True, 'Strong']]
g2 [['Overcast', True, True, True], ['Rain', True, True, True], [True, 'Cool', True, True], [True, 'Mild', True, True], [True, True, 'Normal', True], ['Overcast', True, True, 'Strong'], ['Rain', True, True, 'Strong'], [True, 'Cool', True, 'Strong'], [True, 'Mild', True, 'Strong'], [True, True, 'Normal', 'Strong']]
[]
g1 [['Sunny', True, True, True], ['Overcast', True, True, True], [True, 'Hot', True, True], [True, 'Mild', True, True], [True, True, 'High', True], [True, True, True, 'Weak']]
[]
g1 [['Overcast', True, True, True], ['Rain', True, True, True], [True, 'Hot', True, True], [True, 'Cool', True, True], [True, True, 'Normal', True], [True, True, True, 'Strong']]
[]
g1 [['Sunny', True, True, True], ['Overcast', True, True, True], [True, 'Hot', True, True], [True, 'Cool', True, True], [True, True, 'Normal', True], [True, True, True, 'Weak']]
general hypothesis [['Sunny', True, True, True], ['Overcast', True, True, True], [True, 'Hot', True, True], [True, 'Cool', True, True], [True, True, 'Normal', True], [True, True, True, 'Weak']]
specific hypothesis [True, True, True, True]