<a href="https://colab.research.google.com/github/sravanikumku/ML/blob/main/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix
import numpy as np

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(df,df.iloc[:,-1],test_size=0.1)

In [ ]:
test=x_test.iloc[:,:]
test=np.array(test)

In [ ]:
print(test)

[[43 4.4 3.2 1.3 0.2 'Iris-setosa']
 [111 6.5 3.2 5.1 2.0 'Iris-virginica']
 [97 5.7 2.9 4.2 1.3 'Iris-versicolor']
 [15 5.8 4.0 1.2 0.2 'Iris-setosa']
 [127 6.2 2.8 4.8 1.8 'Iris-virginica']
 [26 5.0 3.0 1.6 0.2 'Iris-setosa']
 [46 4.8 3.0 1.4 0.3 'Iris-setosa']
 [126 7.2 3.2 6.0 1.8 'Iris-virginica']
 [79 6.0 2.9 4.5 1.5 'Iris-versicolor']
 [65 5.6 2.9 3.6 1.3 'Iris-versicolor']
 [11 5.4 3.7 1.5 0.2 'Iris-setosa']
 [32 5.4 3.4 1.5 0.4 'Iris-setosa']
 [102 5.8 2.7 5.1 1.9 'Iris-virginica']
 [143 5.8 2.7 5.1 1.9 'Iris-virginica']
 [63 6.0 2.2 4.0 1.0 'Iris-versicolor']]

In [ ]:
df_train=df.iloc[:-15,:]
df_test=df.iloc[-15:,:-1]
print(df_test)
df_test=np.array(df_test)
df_test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

array([[136. ,   7.7,   3. ,   6.1,   2.3],
       [137. ,   6.3,   3.4,   5.6,   2.4],
       [138. ,   6.4,   3.1,   5.5,   1.8],
       [139. ,   6. ,   3. ,   4.8,   1.8],
       [140. ,   6.9,   3.1,   5.4,   2.1],
       [141. ,   6.7,   3.1,   5.6,   2.4],
       [142. ,   6.9,   3.1,   5.1,   2.3],
       [143. ,   5.8,   2.7,   5.1,   1.9],
       [144. ,   6.8,   3.2,   5.9,   2.3],
       [145. ,   6.7,   3.3,   5.7,   2.5],
       [146. ,   6.7,   3. ,   5.2,   2.3],
       [147. ,   6.3,   2.5,   5. ,   1.9],
       [148. ,   6.5,   3. ,   5.2,   2. ],
       [149. ,   6.2,   3.4,   5.4,   2.3],
       [150. ,   5.9,   3. ,   5.1,   1.8]])

In [ ]:
import copy
def knn(df1,df_test1,k):
  df=copy.deepcopy(df1)
  classes=df.iloc[:,-1].unique()
  df_test=df_test1[:-1]
  y_act=df_test1[-1]
  sum=0
  d={}

  for i in range(len(df)):

    df.loc[i,'Rank']=edist(df_test,df.iloc[i,:-1])

  df=df.sort_values(by="Rank",ascending=True)
  df_k=df.iloc[:k,:-1]
  for j in classes:
    sum=0
    for i in range(len(df_k)):
      sum+=df_k.iloc[i,-1]==j
    d[j]=sum

  m1=max(d.values())
  for i in d.keys():
    if d[i]==m1:
      print("Actual",y_act,"Predicted",i)
      return p







p=[]
for i in range(len(test)):
       p.append(knn(x_train,test[i],4))

Actual Iris-versicolor Predicted Iris-versicolor
Actual Iris-virginica Predicted Iris-setosa
Actual Iris-versicolor Predicted Iris-setosa
Actual Iris-virginica Predicted Iris-setosa
Actual Iris-virginica Predicted Iris-setosa
Actual Iris-versicolor Predicted Iris-versicolor
Actual Iris-virginica Predicted Iris-virginica
Actual Iris-virginica Predicted Iris-setosa
Actual Iris-setosa Predicted Iris-setosa
Actual Iris-versicolor Predicted Iris-setosa
Actual Iris-setosa Predicted Iris-versicolor
Actual Iris-versicolor Predicted Iris-setosa
Actual Iris-setosa Predicted Iris-setosa
Actual Iris-virginica Predicted Iris-setosa
Actual Iris-versicolor Predicted Iris-versicolor

In [ ]:
from math import sqrt
def edist(l,k):
  s=0
  for i in range(len(l)):
    s+=(l[i]-k[i])**2
  return sqrt(s)

In [ ]:
d={"p":8,"l":9,"j":3}
m=sorted(d)
m