<a href="https://colab.research.google.com/github/sravanikumku/ML/blob/main/naivebayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/drive/MyDrive/data.txt",sep='\t')
df=df[df.columns[1:]]
df

     outlook temperature humidity   windy playtennis
0      sunny         hot     high    weak         no
1      sunny         hot     high  strong         no
2   overcast         hot     high    weak        yes
3      rainy        mild     high    weak        yes
4      rainy        cold   normal    weak        yes
5      rainy        cold   normal  strong         no
6   overcast        cold   normal  strong        yes
7      sunny        mild     high    weak         no
8      sunny        cold   normal    weak        yes
9      rainy        mild   normal    weak        yes
10     sunny        mild   normal  strong        yes
11  overcast        mild     high  strong        yes
12  overcast         hot   normal    weak        yes
13     rainy        mild     high  strong         no

In [3]:
def naive_bayes(df,l):
  p=len(df[df.iloc[:,-1]=='yes'])
  n=len(df[df.iloc[:,-1]=='no'])
  p1=p/len(df)
  n1=n/len(df)
  t=p1
  f=n1
  k=0
  for i in l:
    t*=len(df[(df.iloc[:,k]==i) & (df.iloc[:,-1]=='yes')])/p
    f*=len(df[(df.iloc[:,k]==i) & (df.iloc[:,-1]=='no')])/n
    k+=1
  if(t>f):
    return 'yes'
  else:
    return 'no'

In [4]:
df_train=df.iloc[:9,:]
df_test=df.iloc[9:,:-1]
df_test=df_test.values.tolist()
s=0
y_pred=[]
y_test=df.iloc[9:,-1]
for i in df_test:
  y_pred.append(naive_bayes(df_train,i))
print(y_pred)
print(y_test)

['yes', 'no', 'yes', 'yes', 'no']
9     yes
10    yes
11    yes
12    yes
13     no
Name: playtennis, dtype: object

In [5]:
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report,
)

In [6]:
accuracy=accuracy_score(y_pred,y_test);
accuracy*100

80.0